{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - snippetbox</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
    </head>
    <body>
        <header>
            <h1><a href="/">snippetbox</a></h1>
        </header>
        <nav>
            <div>
                <a href="/">home</a>
                {{if .IsAuthenticated}}
                    <a href="/snippet/create">create snippet</a>
                {{end}}
            </div>
            <div>
                {{if .IsAuthenticated}}
                    <form action="/user/logout" method="post">
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <button>logout</button>
                    </form>
                {{else}}
                    <a href="/user/signup">signup</a>
                    <a href="/user/login">login</a>
                {{end}}
            </div>
        </nav>
        <main>
            {{with .Flash}}
            <div class="flash">{{.}}</div>
            {{end}}
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="/static/js/main.js" type="text/javascripts"></script>
    </body>
</html>
{{end}}